table td{
    position: relative;
}
  
table td:hover .text {
    display: none;
}

table td:hover .btn {
    display: block;
}
  
.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 10px;
}