{% extends "layout.html" %}

{% block content %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='cit-logo-white.png') }}" alt="Bootstrap" width="50" height="40">
            </a>
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Library</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="schedule">Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="reservation">Reservation</a>
                </li> -->
              </ul>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="btn btn-outline-light" href="login">Logout</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="input-group mb-3">
        <input type="text" id="searchbar" class="form-control" placeholder="Search books here" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
    
    
      <div class="filter-sort-container">
        <div class="filter">
          <label for="sort-options">Sort by:</label>
          <select id="sort-options">
            <option value="id_buku">ID</option>
            <option value="tanggal_masuk">entry date</option>
            <option value="nama_buku">Name</option>
          </select>
        </div>
        <div class="filter">
          <label for="sort-order">Sort order:</label>
          <select id="sort-order">
            <option value="asc">Ascending</option>
            <option value="dsc">Descending</option>
          </select>
        </div>
        
        <div class="filter">
          <label for="availability">Availability</label>
          <select id="availability">
            <option value="available">Available</option>
            <option value="all">all</option>
          </select>
        </div>
        
      </div>
      <button onclick="sortit()">Go</button>
      
      
      
      <div class="text-center" id="bookContainer">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          {% for book in catalogue_data %}
          <div class="col">
            <div class="card" >
          <img src="{{ book.cover_link }}" class="card-img-top" alt="No Image">
          <div class="card-body">
              <h5 class="card-title">{{ book.nama_buku }}</h5>
              <p class="card-text">{{ book.deskripsi_buku }}</p>
              <span class="badge bg-success">{{ book.status }}</span>
          </div>
        </div>
      </div>
        {% endfor %}
        </div>
      </div>

      <div class="page-select"></div>
      </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  function sortit() {
      const sortopt = document.getElementById("sort-options").value;
      const sortord = document.getElementById("sort-order").value;
      const available = document.getElementById("availability").value;
      const searchbar = document.getElementById("searchbar").value;

      // Construct the URL based on selected options
      const url = `/?sort_by=${sortopt}&order=${sortord}&availability=${available}&searchbar=${searchbar}`;

      // Redirect to the URL
      window.location.href = url;
  }
</script>
{% endblock content %}

</body>
</html>
