{% extends "login_layout.html" %}
{% block content %}
<body>
    <div class="login-container" style="height: 100%;">
        <div class="login-box">
            <div class="logo">
                <img src="{{ url_for('static', filename='cit-logo-white.png') }}" alt="Bootstrap" width="100" height="80">
            </div>
            <h3>NIM</h3>
            <form method="POST" action="/login_user">
            <div class="nim-input">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="nim" aria-describedby="basic-addon2" name="nim" id="nim" required>
                </div>              
            </div>
            <h3>Password</h3>
            <div class="password-input">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2" name="password" nim="password" required>
                </div>
            </div>

            <div class="login-button">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            <ul class="flashes">
                    {{ message }}
                {% endfor %}
            </ul>
          </div>
          {% endif %}
      {% endwith %}
        </div>
    </div>

{% endblock content %}
