<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Schedule Page</title>
    <style>
        .table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="cit-logo-white.png" alt="Bootstrap" width="50" height="40">
            </a>
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Library</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="schedule.html">Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="reservation.html">Reservation</a>
                  </li>
                </ul>
              </ul>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="btn btn-outline-light" href="login.html">Login/Register</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="room-filter-container">
            <div class="room-filter">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">
                  Mini Theater
                </button>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li><a class="dropdown-item" href="#">Mini Theater</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Room 1</a></li>
                    <li><a class="dropdown-item" href="#">Room 2</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center">Time</th>
                  <th class="text-center">Monday</th>
                  <th class="text-center">Tuesday</th>
                  <th class="text-center">Wednesday</th>
                  <th class="text-center">Thursday</th>
                  <th class="text-center">Friday</th>
                  <th class="text-center">Saturday</th>
                  <th class="text-center">Sunday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00 - 11:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>11:00 - 12:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>12:00 - 13:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>13:00 - 14:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>14:00 - 15:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>15:00 - 16:00</td>
                  <td></td>
                  <td>Reserved</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>16:00 - 17:00</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                    <td>17:00 - 18:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <tr>
                    <td>18:00 - 19:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                <tr>
                    <td>19:00 - 20:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        <div class="reservation-options">
            <div class="day">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButtonDay">
                      Day
                    </button>
                    <ul class="dropdown-menu" id="dropdownMenuDay">
                        <li><a class="dropdown-item" href="#">Monday</a></li>
                        <li><a class="dropdown-item" href="#">Tuesday</a></li>
                        <li><a class="dropdown-item" href="#">Wednesday</a></li>
                        <li><a class="dropdown-item" href="#">Thursday</a></li>
                        <li><a class="dropdown-item" href="#">Friday</a></li>
                        <li><a class="dropdown-item" href="#">Saturday</a></li>
                        <li><a class="dropdown-item" href="#">Sunday</a></li>
                    </ul>
                  </div>
            </div>
            <div class="time">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButtonTime">
                      Time
                    </button>
                    <ul class="dropdown-menu" id="dropdownMenuTime">
                        <li><a class="dropdown-item" href="#">10:00-11:00</a></li>
                        <li><a class="dropdown-item" href="#">11:00-12:00</a></li>
                        <li><a class="dropdown-item" href="#">12:00-13:00</a></li>
                        <li><a class="dropdown-item" href="#">13:00-14:00</a></li>
                        <li><a class="dropdown-item" href="#">14:00-15:00</a></li>
                        <li><a class="dropdown-item" href="#">15:00-16:00</a></li>
                        <li><a class="dropdown-item" href="#">16:00-17:00</a></li>
                        <li><a class="dropdown-item" href="#">17:00-18:00</a></li>
                        <li><a class="dropdown-item" href="#">18:00-19:00</a></li>
                        <li><a class="dropdown-item" href="#">19:00-20:00</a></li>
                    </ul>
                  </div>
            </div>
            <div class="reserve">
                <button type="button" class="btn btn-secondary">Reserve</button>
            </div>
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/48638eddb5.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
  </body>
</html>